
html {
    font: .9rem serif;
    color: #242424;
}

body {
    margin: 1.4rem;
}

article header {
    padding: 0;
}

article h1 {
    margin: 1rem 0;
    font-size: 20pt;
    font-weight: normal;
    color: #0048A0;
}

article section {
    margin: 1rem 0;
}

article section h1, h2 {
    margin: .5rem 0;
    font-size: 18pt;
    font-weight: normal;
    color: #D09000;
}

article section section h1 {
    font-size: 16pt;
    color: #105C90;
}

article section section section h1 {
    font-size: 14pt;
    color: #905C90;
}

article section section section section h1 {
    font-size: 13pt;
    color: #902090;
}

article p {
    margin: .4rem 0;
}

div.sectionbody {
    margin: .6rem 0;
}

div.blocktitle, caption {
    margin: .2rem .2rem .4rem .2rem;
    font-size: 1.1rem;
    text-align: left;
    color: green;
}

h2 {
    font-weight: normal;
}

nav ul {
    list-style-type: none;
}

nav li {
    margin: .3rem 0;
}

nav a, nav a:visited {
    color: #005090;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

div.listingblock {
    margin: .7rem 0;
}

div.listingblock pre {
    padding: .6rem 1rem;
    border: 1px solid #505050;
    border-radius: .4rem;
    background-color: #242424;
    margin: 0;
    line-height: 150%;
}

code {
    color: #043090;
}

pre code {
    color: #F0F0F0;
}

div.sidebarblock {
    border: .2rem solid #D0D0D0;
    padding: .6rem 1rem;
}


/* Lists */

div.ulist, div.olist, div.dlist {
    margin: .4rem 0;
    padding: .5rem .7rem;
}

ul, ol {
    margin: 0 0 0 1.5rem;
    padding: 0;
    list-style-position: outside;
}

ul il, ol ol {
    margin: 0 0 0 1.2rem;
    padding: 0;
    list-style-position: outside;
}

dt {
    color: #3058A0;
}

dl.horizontal dt {
    float: left;
    clear: left;
    width: 7rem;
    text-align: right;
}

dl.horizontal dt::after {
    content: ": ";
}

dl.horizontal dd {
    margin: 0 0 0 8rem;
    padding: 0 0 0.5em 0;
}

li.li1 {
    color: #CCC;
}


/* Admonitions */

div.admonition {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: .9rem 0;
    padding: .8rem 1rem;
    border: 1px solid #FFE8C0;
    border-radius: .4rem;
    background-color: #FFD890;
    color: #026050;
    overflow: hidden;
}

div.admonition div.caption {
    float: left;
    /*height: 100%;*/
    padding-right: .7rem;
    font: 12pt sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #2030A0;
}

div.admonition div.content {
    float: left;
    padding: .5rem .7rem;
    border-left: 2px solid #FFB080;
}

blockquote footer::before {
    content: "—";
}

cite::before {
    content: ", ";
}

p.question {
    font-style: italic;
}

div.footnotes {
    margin-top: 1.4rem;
    border-top: 1px solid gray;
    padding-top: .2rem;
}


/* Tables */

table {
    margin: 1rem 0;
    table-layout: fixed;
    width: 100%;
}

table, td, th {
    box-sizing: border-box;
    border: 1px solid gray;
    border-collapse: collapse;
}

thead tr {
    height: 2.1rem;
}

th {
    background-color: #E0E0E0;
    text-align: center;
    vertical-align: middle;
}

tbody tr {
    height: 1.5rem;
}

th, td {
    padding: 0 .3rem;
}

p.table, pre.table, th pre, td pre, td div {
    margin: 0;
    padding: 0;
}

.align-left {
    text-align: left
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.valign-top {
    vertical-align: top;
}

.valign-middle {
    vertical-align: middle;
}

.valign-bottom {
    vertical-align: bottom;
}


/* Colours */

.aqua {color: aqua;}
.black {color: black;}
.blue {color: blue;}
.fuchsia {color: fuchsia;}
.gray {color: gray;}
.green {color: green;}
.lime {color: lime;}
.maroon {color: maroon;}
.navy {color: navy;}
.olive {color: olive;}
.purple {color: purple;}
.red {color: red;}
.silver {color: silver;}
.teal {color: teal;}
.white {color: white;}
.yellow {color: yellow;}

span.aqua {color: aqua;}
span.black {color: black;}
span.blue {color: blue;}
span.fuchsia {color: fuchsia;}
span.gray {color: gray;}
span.green {color: green;}
span.lime {color: lime;}
span.maroon {color: maroon;}
span.navy {color: navy;}
span.olive {color: olive;}
span.purple {color: purple;}
span.red {color: red;}
span.silver {color: silver;}
span.teal {color: teal;}
span.white {color: white;}
span.yellow {color: yellow;}

span.aqua-background {background: aqua;}
span.black-background {background: black;}
span.blue-background {background: blue;}
span.fuchsia-background {background: fuchsia;}
span.gray-background {background: gray;}
span.green-background {background: green;}
span.lime-background {background: lime;}
span.maroon-background {background: maroon;}
span.navy-background {background: navy;}
span.olive-background {background: olive;}
span.purple-background {background: purple;}
span.red-background {background: red;}
span.silver-background {background: silver;}
span.teal-background {background: teal;}
span.white-background {background: white;}
span.yellow-background {background: yellow;}

.big {font-size: 2em;}
.small {font-size: 0.6em;}

.underline {text-decoration: underline;}
.overline {text-decoration: overline;}
.line-through {text-decoration: line-through;}

span.big {font-size: 2em;}
span.small {font-size: 0.6em;}

span.underline {text-decoration: underline;}
span.overline {text-decoration: overline;}
span.line-through {text-decoration: line-through;}

sup a, a.footnote {
    color: #2030E0;
    text-decoration: none;
}

sup a {
    font-size: .66rem;
    padding: 0 .1rem;
}

div.footnotes p {
    font-size: .9rem;
}

pre code .keyword1 {color: #6890FF; font-weight: normal;}
.keyword2 {color: #FFD080; font-weight: normal;}
.keyword3 {color: #E040FF}
.keyword4 {color: #FF8050; font-weight: normal;}
.varname, .simplevar {color: #9CD8FF; font-weight: normal;}
.tag_s, .tag_e {color: #FFD050; font-weight: normal;}
.string_d, .string_s, .string_b, .attrval {color: #78E640; font-weight: normal}
.attrname {color: lightgreen; font-weight: normal}
.equal {color: #808080; font-weight: normal}
.escaped {color: #80C0FF}
.entity {color: orange;}
.braces_span {color: #B068FF}
.comment_s, .comment_m, .comment_mx, .comment {color: #A0A0A0}
.attvar {color: magenta}
.doctype {color: lightblue}
span.id {color: #C078FF;}
span.class {color: #FFA014;}
